<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="/authuser/base::layout(~{::section})">
<!-- ======= dashboard Details Section ======= -->
<section id="portfolio-details" class="portfolio-details">
	<div class="container-fluid">
		<div class="row gy-4">
			<div th:replace="authuser/sidebar::side"></div>
			<div class="col-lg-10" th:fragment="add_contact">
				<div class="portfolio-details-slider swiper">
					<h1>Index</h1>
					<div class="swiper-wrapper align-items-center">

						<div class="swiper-slide">
							<img src="assets/img/portfolio/portfolio-1.jpg" alt="">
						</div>

						<div class="swiper-slide">
							<img src="assets/img/portfolio/portfolio-2.jpg" alt="">
						</div>

						<div class="swiper-slide">
							<img src="assets/img/portfolio/portfolio-3.jpg" alt="">
						</div>

					</div>
					<div class="swiper-pagination"></div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Portfolio Details Section -->
</html>