<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<header id="header" th:fragment="nav">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="#">Smart Contact<span>.</span></a></h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " th:href="@{/user/index}">DashBoard</a></li>
         
          <li class="dropdown"><a href="#"><span>Account</span> <i class="bi bi-chevron-down"></i></a>
       
                <ul>
                  <li><a th:href="@{/logout}">Logout</a></li>
                </ul>
         
          </li>
          <li><a class="nav-link scrollto" href="#footer">Contact</a></li>
          <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
</html>
