<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>About</title>
</head>
<body>
	<h1>I am thymleaf here</h1>
	My name is in small : <p th:text="${name}" ></p>
    My name is in caps : <p th:text="${ #strings.toUpperCase(name)}" ></p>
    <h1 th:text="'My name length is :'+ ${#strings.length(name)}"></h1>
	<h1 th:text="${i}"></h1>
<ul>
<li th:each="n,status:${i}">
<span th:style="${status.odd} ? 'color:green' : 'font-weight:bold' " th:text="${n}"></span>
</li>
</ul>

<footer th:replace="service::footer1"></footer>
</body>
</html>

